.items{
    width: 80%;
    height: 320px;
    background-color: antiquewhite;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */ /*this is for the task 2 that he will give them a space between each element*/
}
.item{
    width: 110px;
    height: 70px;
}
.item-1{
    background-color: rgb(3, 136, 3);
}
.item-2{
    background-color: rgb(4, 27, 198);
}
.item-3{
    background-color: rgb(136, 3, 3);
}