* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.6;
    background-color: #27264b;
    color: #433f63;
}
a{
    text-decoration: none;
    color: #007bff;
}
ul{
    list-style: none;
}
li{
    margin-bottom: 10px;
}
.cards-container{
    max-width: 1700px;
    background-color: #f8fafe;
    border-radius: 10px;
    margin: 0 auto;
    padding: 70px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 30px;
}
.pricing{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}
.card{
    flex:1;
    background-color:#fff;
    border-radius: 8px;
    padding:20px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card h2{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 15px;
    color: #333;
    background: #f8fafe;
}
.card-pro h2{
    background: linear-gradient(90deg,rgba(194,227,255,1)13%,rgba(180,118,254,1)100%);
    color:#fff
}
.card-enterprise {
    background: linear-gradient(90deg,rgba(255,177,194,1)13%,rgba(255,203,114,1)100%);
    color:#fff
}
.card-enterprise h2{
    background: linear-gradient(90deg,rgba(255,177,194,1)13%,rgba(255,203,114,1)100%);
    color:#fff
}
.card .price{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}
.card .price sup{
    font-size: 18px;
    position: relative;
    left: -5;

}
.card .price span{
    font-size: 18px;
    margin-left: 5px;
    
}
.card .main-text{
    font-size: 14px;
    margin-bottom: 50px;
}
.btn{
    display: block;
    background-color: #fff;
    color:#27264b;
    border: 1px solid #27264b;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover{
    background-color: #27264b;
    color: #fff;
}
.btn-primary,
.btn:hover{
    background-color: #27264b;
    color: #fff;
}
.btn-primary:hover{
    background-color: #fff;
    color: #27264b;
}
.card ul{
    text-align: left;
    margin-top: 50px;
}
.card ul li i{
    color: #98ca9e;
    margin-right: 10px;
}
.card-free{
    margin-right: 70px;
}
.card-pro{
    margin-right: 70px;
}
/* .container{
    width: 80%;
    height: 100%;
    margin: 70px;
    border: 10px solid var(--clr-dark);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 186, 186);

}
section{
    width: 27%;
    background-color: aliceblue;
    margin-right: 70px ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 20hv;
}
h1{
    padding: 10px 70px;
}
h2{
    font-size: 15px;
    font-weight: bold;
}
p{
    margin-left: 10px;
    font-size: 19px;
    font-style: normal;
}
button{
    background-color: rgb(255, 255, 255);
    height: 50px;
    font-size: 20px;
    width: 90%;
    display: flex;
    color: rgb(7, 7, 7); 
    display: inline-block;
}
ul{
    margin-right: 130px;
} */